*.bak
*.class
*.egg-info
*.eggs/
*.py[co]
*.swp
*~
.DS_Store
.cache
.coverage
.doctrees
.idea
.ipynb_checkpoints/
.pytest_cache/
.ropeproject
.tox
.vagrant
.vscode
Vagrantfile
_build
bones-scripts/
build
dist
htmlcov
log.txt
plots/
wintest.sh
