language: c
sudo: false
notifications:
  email:
    recipients:
      - jan@hyper-world.de
    on_success: change
    on_failure: change

env:
  global:
    - NENGO="2.7"
    - NUMPY="1.14"
    - SCIPY="true"
    - COVERAGE="false"
    - STATIC="false"
    - DOCS="false"

matrix:
  include:
    - env: PYTHON="3.6" STATIC="true"
    - env: PYTHON="2.7" COVERAGE="true"
    - env: PYTHON="2.7" NUMPY="1.8"  # minimum supported NumPy
    - env: PYTHON="3.4" NUMPY="1.11"  # 1.12 not packaged for py34 in conda
    - env: PYTHON="3.5"
    - env: PYTHON="3.6" COVERAGE="true"
    - env: PYTHON="3.6" SCIPY="false"
    - env: PYTHON="3.6" DOCS="true"

# Setup Miniconda
before_install:
  - source .ci/conda.sh install

# Install packages with conda, then pip
install:
  - if [[ "$COVERAGE" == "true" ]]; then
      .ci/coverage.sh install;
    fi
  - if [[ "$DOCS" == "true" ]]; then
      .ci/docs.sh install;
    fi
  - if [[ "$STATIC" == "true" ]]; then
      .ci/static.sh install;
    else
      .ci/test.sh install;
    fi

# Run the tests
script:
  - if [[ "$STATIC" == "true" ]]; then
      .ci/static.sh run;
    elif [[ "$COVERAGE" == "true" ]]; then
      .ci/coverage.sh run;
    elif [[ "$DOCS" == "true" && -n "$TRAVIS_TAG" ]]; then
      .ci/docs.sh run;
    else
      .ci/test.sh run;
    fi

after_success:
  - if [[ "$COVERAGE" == "true" ]]; then
      .ci/coverage.sh upload;
    elif [[ "$DOCS" == "true" && -n "$TRAVIS_TAG" ]]; then
      .ci/docs.sh upload;
    fi
