language: c
sudo: false
notifications:
  email:
    recipients:
      - jan@hyper-world.de
    on_success: change
    on_failure: change

env:
  global:
    - NENGO="3.0"
    - NUMPY="1.17"
    - SCIPY="true"
    - COVERAGE="false"
    - STATIC="false"
    - DOCS="false"

matrix:
  include:
    - env: PYTHON="3.7" STATIC="true"
    - env: PYTHON="3.5" NUMPY="1.15"  # 1.16 not packaged for py35 in conda
    - env: PYTHON="3.6"
    - env: PYTHON="3.7" NENGO="2.7"
    - env: PYTHON="3.7" COVERAGE="true"
    - env: PYTHON="3.7" SCIPY="false"
    - env: PYTHON="3.7" DOCS="true"

# Setup Miniconda
before_install:
  - source .ci/conda.sh install

# Install packages with conda, then pip
install:
  - if [[ "$COVERAGE" == "true" ]]; then
      .ci/coverage.sh install;
    fi
  - if [[ "$DOCS" == "true" ]]; then
      .ci/docs.sh install;
    fi
  - if [[ "$STATIC" == "true" ]]; then
      .ci/static.sh install;
    else
      .ci/test.sh install;
    fi

# Run the tests
script:
  - if [[ "$STATIC" == "true" ]]; then
      .ci/static.sh run;
    elif [[ "$COVERAGE" == "true" ]]; then
      .ci/coverage.sh run;
    elif [[ "$DOCS" == "true" ]]; then
      if [[ -n "$TRAVIS_TAG" ]]; then
        .ci/docs.sh run;
      else
        .ci/docs.sh check;
      fi
    else
      .ci/test.sh run;
    fi

after_success:
  - if [[ "$COVERAGE" == "true" ]]; then
      .ci/coverage.sh upload;
    elif [[ "$DOCS" == "true" && -n "$TRAVIS_TAG" ]]; then
      .ci/docs.sh upload;
    fi
