global-include *.py
include *.rst
global-include *.sh
include *.txt
include *.yml

# Include this file, to ensure we can recreate source distributions
include MANIFEST.in

# Directories to include
graft docs

# Subdirectories to exclude, if they exist
prune docs/_build
prune dist
prune examples
prune .*
graft .ci

# Patterns to exclude from any directory
global-exclude *-checkpoint.ipynb

# Exclude all bytecode
global-exclude *.pyc *.pyo *.pyd

# Exclude VIM swp files
global-exclude *.swp
