global-include *.py
include *.rst
include *.txt
include *.yml

# Include this file, to ensure we can recreate source distributions
include MANIFEST.in

# Directories to include
graft docs
graft nengo_spa/examples

# Subdirectories to exclude, if they exist
prune docs/_build
prune dist
prune examples

prune .*
prune .git
prune .tox

prune nengo_spa/examples/.ipynb_checkpoints

# Exclude all bytecode
global-exclude *.pyc *.pyo *.pyd

# Exclude VIM swp files
global-exclude *.swp
