{% include "templates/LICENSE.rst.template" %}

Licensed code
=============

NengoSPA imports several open source libraries:

* `NumPy <http://www.numpy.org/>`_ - Used under
  `BSD license <http://www.numpy.org/doc/stable/license.html>`__
* `Sphinx <https://www.sphinx-doc.org/>`_ - Used under
  `BSD license <https://github.com/sphinx-doc/sphinx/blob/master/LICENSE>`__
* `nbsphinx <https://github.com/spatialaudio/nbsphinx>`_ - Used under
  `MIT license <https://github.com/spatialaudio/nbsphinx/blob/master/LICENSE>`__
* `matplotlib <https://matplotlib.org/>`_ - Used under
  `modified PSF license <https://matplotlib.org/users/license.html>`__
* `Jupyter <http://jupyter.org/>`_ - Used under
  `BSD license <https://github.com/jupyter/jupyter/blob/master/LICENSE>`__
* `pytest <https://docs.pytest.org/en/latest/>`_ - Used under
  `MIT license <https://docs.pytest.org/en/latest/license.html>`__
